body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: black;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

#album-details {
    margin-top: 20px;
}

