body {
    background-color: mediumaquamarine;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}
h3

div {
    font-weight: 400; /* Changed to a valid value */
    position: absolute;
    width: 100%; /* Add width and height as needed */
    height: 100%; /* Adjust based on your layout */
}

h2 {
    margin-bottom: 10px;
}

#album-details {
    margin-top: 20px;
}

#spany img {
    width: 20%;
    height: auto; /* Adjusted to maintain aspect ratio */
}
